:root {
  --t: #54BAA9;
  --b: #0FA7D2;
  --r: #EE3A43;
  --y: #FFCF00;
}
body {

}
#menu_wrap {
  width:100%;
  height:100vh;
  background-color:white;
  position:fixed;
  display:none;
  top:0px;
  left:0px;
}
#wrap {
  max-width:1000px;
  padding-top:4%;
}
#mwrap {
  max-width:1000px;
  padding-top:4%;
}
#nav {
  height:50px;
  padding:15px 0px 15px 0px;
}
#mnav {
  height:50px;
  padding:15px 0px 15px 0px;
}
.nav.logo {
  float:left;
}
.logo {
  color:#333;
  font-size:50px;
}
.nav.menu {
  float:right;
  padding-top:7px;
}
.mnav.menu {
  float:right;
  padding-top:7px;
}
.menu-icon {
  width:50px;
  cursor:pointer;
}
.close-icon {
  width:50px;
  cursor:pointer;
}
#body {
  padding-top:4%;
}
.award_section {
  padding:40px 0px 0px 0px;
  text-align:left;
}
.award_section > h1 {
  font-size:50px;
  color:#333;
}
.one_hr {
  width:200px;
  background-color:var(--b);
  border:none;
  height:3px;
  margin-top:20px;
}
.two_hr {
  width:200px;
  background-color:var(--r);
  border:none;
  height:3px;
  margin-top:20px;
}
.three_hr {
  width:200px;
  background-color:var(--y);
  border:none;
  height:3px;
  margin-top:20px;
}
.award_section > ul {
  padding-top:20px;
}
.award_section > ul > a >li {
  list-style: none;
  font-size:30px;
  padding:5px 0px 10px 0px;
  color:#333;
  transition: font-size 0.5s;
  cursor:pointer;
}
.award_section > ul > a > li:hover {
  font-size:35px;
}
.landing_section {
  text-align:left;
}
.cares_desc {
  font-size:25px;
  width:850px;
  line-height:1.5;
  color:#333;

}
.download_btn {
  margin-top:4%;
  margin-bottom:4%;
  font-size:30px;
  max-width:750px;
  padding: 20px 0px 20px 0px;
  border:1px solid var(--b);
  color:var(--b);
  cursor:pointer;
  border-radius:3px;
  transition:background 0.5s, color 0.5s;
  text-align:center;
}
.download_btn:hover {
  background-color:var(--b);
  color:white;
}
